extends layout

block scripts
    link(rel="stylesheet", href="style_about.css")

block content
    .result-container
        .about_box
            .title
                span About GORANK.ME 
            .img
                img(src="img/gorank-main.png")
            .con
                p 피파 온라인4 전적 검색 서비스를 제공하는 GORANK.ME입니다.
                br
                img.num(src="img/about_1.png")
                
