extends layout

block scripts
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="style_division.css")


block content
    .result-container
        .division
            ins(class="kakao_ad_area", style="display:none;", data-ad-unit= "DAN-qxisu9s3fwhh" , data-ad-width   = "728", data-ad-height  = "90")
            .title
                .title_rank
                    span 공식 경기 등급
                .title_price
                    span 등급보상
            .division_box
                .division_img
                    img(src="img/ico_rank0.png")
                .division_name
                    span 슈퍼 챔피언스
                .division_sub
                    span 6,000,000 BP + 챔피언스 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank1.png")
                .division_name
                    span 챔피언스
                .division_sub
                    span 6,000,000 BP + 챔피언스 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank2.png")
                .division_name
                    span 챌린지
                .division_sub
                    span 5,500,000 BP + 챌린지 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank3.png")
                .division_name
                    span 월드클래스1
                .division_sub
                    span 5,000,000 BP + 월드클래스 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank4.png")
                .division_name
                    span 월드클래스2
                .division_sub
                    span 4,500,000 BP + 월드클래스 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank5.png")
                .division_name
                    span 월드클래스3
                .division_sub
                    span 4,000,000 BP + 월드클래스 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank6.png")
                .division_name
                    span 프로1
                .division_sub
                    span 3,000,000 BP + 프로 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank7.png")
                .division_name
                    span 프로2
                .division_sub
                    span 2,700,000 BP + 프로 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank8.png")
                .division_name
                    span 프로3
                .division_sub
                    span 2,400,000 BP + 프로 등급 기간제 유니폼 & 로고
            .division_box
                .division_img
                    img(src="img/ico_rank9.png")
                .division_name
                    span 세미프로1
                .division_sub
                    span 1,800,000 BP
            .division_box
                .division_img
                    img(src="img/ico_rank10.png")
                .division_name
                    span 세미프로2
                .division_sub
                    span 1,500,000 BP
            .division_box
                .division_img
                    img(src="img/ico_rank11.png")
                .division_name
                    span 세미프로3
                .division_sub
                    span 1,200,000 BP
            .division_box
                .division_img
                    img(src="img/ico_rank12.png")
                .division_name
                    span 유망주1
                .division_sub
                    span 600,000 BP
            .division_box
                .division_img
                    img(src="img/ico_rank13.png")
                .division_name
                    span 유망주2
                .division_sub
                    span 450,000 BP
            .division_box
                .division_img
                    img(src="img/ico_rank14.png")
                .division_name
                    span 유망주3
                .division_sub
                    span 300,000 BP

            

 





    //- span 슈퍼챔피언스
    //- 챌린지
    //- 월드클래스 1,2,3,
    //- 프로 1,2,3
    //- 세미프로 1,2,3
    //- 유망주(전 세미프로) 1,2,3


