footer
    .footer
        .gorank
            img(src="img/gorank.png")
        .about
            span.list About 
                a(href="/about/") GORANK.ME
            span.list 문의/피드백   r3ubo22@gmail.com    
            p ⓒ 2020. luka25 All rights reserved.
            p Data based on NEXON DEVELOPERS